<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `initials-element`
     * slot
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialsElement extends Polymer.Element {
      static get is() { return 'initials-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initials-element'
          }
        };
      }
    }

    window.customElements.define(InitialsElement.is, InitialsElement);
  </script>
</dom-module>
